@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ---------------------------shared styles------------------------------ */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
}

header {
    background-color: #1A0B2E;
}

.btn {
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 40px 12px 30px;
    border-radius: 10000px;
    background-image: linear-gradient(to bottom right, purple, rgb(255, 0, 153), yellow);
}

.font-color {
    color: #FFFFFF
}

/* -----------------------------nav bar --------------------------------*/
nav {
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu {
    gap: 20px;
}

.nav-items {
    list-style-type: none;
}

.nav-links {
    text-decoration: none;
    color: #FFFFFF;
}

.Tech {
    color: #FFFFFF;
}

.Wave {

    background-image: linear-gradient(to bottom right, purple, rgb(255, 0, 153), yellow);
    background-clip: text;
    color: transparent;
}

/* ------------------------Banner----------------------------------- */
.banner-container {
    max-width: 100%;
    height: 760px;
    max-height: 100%;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.img-container {
    position: relative;
    width: 350px;
    height: 350px;
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 50px;
}

.icon {
    position: absolute;
    width: 40%;
    height: 65%;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
}


/* --------Banner Content */
.banner-content h1 {
    color: #FFFFFF;
    font-size: 3.8rem;
    font-weight: 800;
}

.banner-content {
    justify-content: center;
    text-align: center;
}

.banner-content h1 {
    margin-top: 2.5rem;

}

.banner-content p {
    color: #FFFFFF;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.banner-content button {
    margin-bottom: 6.5rem;
}


.banner-content .btn-2 {
    border: 1px solid #00FF88;
    color: #00FF88;
    background-color: transparent;
    font-weight: 600;
    padding: 12px 20px 12px 48px;
    border-radius: 10000px;
    margin-left: 1rem;
}

/* -------------------------About section--------------------------- */
.about {
    background-color: #1A0B2E;
    text-align: center;

}

.about h2 {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.about p {
    line-height: 1.25rem;
    padding-bottom: 5rem;
}

.about hr {
    max-width: 1200px;
    margin: 0 auto;
}

/* About -- card-info ------------------------------------------------------- */
.card-container {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card-container .card-info h1 {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}

.card-container .card-info p {
    color: #ffffff78;
    font-size: 1rem;
    line-height: 1.25rem;
}

/* ------------------------------------Why section--------------------------------------- */
.why-container {
    background-color: #230E3D;
}


.why-boxes {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.8rem;
    padding-bottom: 120px;

}

.why-container h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.why-boxes .box-1 {
    grid-row: 4 span;
    grid-column: 2 span;

}

.why-boxes .box-2 {
    grid-row: 2 span;
    grid-column: 4 span;
}

.why-boxes .box-3 {
    grid-row: 2 span;
    grid-column: 4 span;
}

.why-boxes .box-4 {
    grid-row: 2 span;
    grid-column: 4 span;

}

.why-boxes .box-5 {
    grid-row: 2 span;
    grid-column: 2 span;

}

/* .box-4, .box-5 {
    padding-bottom: 30px;
    margin-bottom: 120px;
} */

.boxes {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;

}

.boxes img {
    padding-top: 3.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
}

.boxes h5 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
}

.boxes p {
    font-size: 1rem;
    color: #ffffff80;
    line-height: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: left;
    padding-bottom: 2.5rem;

}


/* ------------------------Episodes/Youtube--------------- */
.episodes {
    background-color: #1A0B2E;
}

.episodes-container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;


}

/* .video-card iframe {
    border-radius: 1rem;
    column-gap: 0;
} */
/* .video-card {
    border: none;
    border-radius: 16px;
 } */

.video-clip {
    border-radius: 16px;
    overflow: hidden;
}

.episodes h2 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
}

.video-description {
    background-color: #250D44;
    max-width: 380px;
    margin-right: 1rem;
    border-radius: 1rem;

}

.video-description h4 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    padding: 16px 24px;
}

.video-description p {
    color: #ffffff60;
    padding: 0 24px 60px;

}

.video-description h6 {
    color: #00FF88;
    padding: 0 24px 60px;
}

/* ---------------------------Meet the Host ----------------------------- */
.host-content {
    max-width: 1200px;
    background-color: #250D44;
    margin: 0 auto;
    display: flex;
    border-radius: 1rem;

}

.host-content .host-img img {
    width: 200px;
    height: 200px;
    padding: 2.5rem;
}

.host-content h4 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    padding-top: 3rem;
}

.host-content p {
    color: #ffffff60;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2.5rem;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 8px;

}

.social-icons img {

    width: 40px;
    height: 40px;
    padding: 10px;
    display: block;
    border: 1px solid #533C72;
    border-radius: 50%;
    border: 1px solid #533C72;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.Host {
    padding-bottom: 120px;
}


/* ----------------------Footer------------- */
footer {
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    max-width: 1600px;
    height: 412px;
}

.footer-content {
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding-bottom: 2rem;
}

.spotify,
.apple,
.twitter,
.youtube {
    display: flex;
    align-items: center;

}

footer h1 {
    padding-top: 120px;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 2rem;
}

footer p {
    color: #ffffff60;
    padding-left: 8px;
    padding-top: 10px;
    font-weight: 500;
}

.spotify img {
    padding-top: 10px;
    padding-left: 4rem;
}

/* ----------------------------------------MEDIA QUERY------------------------------------------------------------- */
@media screen and (max-width:576px) {

    .banner-container {
        width: 100%;
        height: 100%;
        background-image: url(../assets/hero-bg.png);
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .icon {
        position: absolute;
        width: 40%;
        height: 65%;
        top: 7rem;
        left: 50%;
        transform: translateX(-50%);
    }
}